* {
  font-weight: bold;
  text-align: center;
  background-color: midnightblue;
  color: white;
  padding: 5px;
  margin: 20px;
  border-color: yellowgreen;
  border: 3px solid;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
